/*
=================
table of contents
=================
1-Left-section ==> icons
2-Right-section ==> Selected
3-Responsive Design (media query)
*/
section#technologies div.right-section {
    gap: 1rem;
}

/*
=========================
1-Right-section ==> icons
=========================
*/
section#technologies .technology-card article {
    border-radius: 5px;
    border: 1px solid var(--border);
    padding: 1rem;
    transition: 0.3s;
    width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

section#technologies .technology-card {
    transition: 0.3s;
}

section#technologies .technology-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px var(--rise-shadow);
}

/* section#technologies .technology-card article.selected {
    border: 1px solid var(--blue);
}

.light section#technologies .technology-card article.selected {
    border: 1px solid var(--orange);
} */

.technology-icon {
    width: 60px;
    height: 60px;
}

.technology-label {
    font-size: 1em;
    color: var(--subtitle);
}

/*
============================
2-Right-section ==> Selected
============================
*/

.technology-details {
    border-radius: 5px;
    padding: 2em 0;
    width: 11rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.technology-detail-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
}

.technology-details h1 {
    margin-bottom: 0.5em;
    color: var(--title);
}

.technology-details p {
    color: var(--subtitle);
}

/*
=================================
3-Responsive Design (media query)
=================================
*/

@media (max-width: 600px) {
    .technologies-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}