.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(40, 40, 48, 0.91);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    animation: animation 0.7s 1;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    border: 2px solid var(--border);
    overflow: hidden;
    background-color: rgba(40, 40, 48, 0.91);
}

.image-wrapper {
    min-height: 35.1875dvw;
    min-width: 75dvw;
}

.image-wrapper img,
.image-wrapper video {
    display: block;
    transition: 0.3s;
    max-width: 100%;
    max-height: 89dvh !important;
    min-width: 75dvw;
}

.image-wrapper img {
    min-height: 42.1875dvw;
}

.close-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.modal-close {
    font-size: 1.5rem;
    color: var(--subtitle);
    transition-duration: 0.3s;
}

.modal-close:hover {
    color: crimson;
    transform: rotate(180deg);
}

.modal-prev,
.modal-next {
    position: absolute;
    font-size: 1.25rem;
    top: calc(50% + 45px);
    transform: translateY(-50%);
    transition: 0.3s;
    color: var(--blue);
    background-color: rgba(36, 37, 46, 1);
    border: 1px solid rgb(63, 63, 70);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    z-index: 2;
}

.modal-prev:hover,
.modal-next:hover {
    scale: 0.97;
}

.light .modal-prev,
.light .modal-next {
    color: var(--orange);
}

.modal-next {
    right: 0.2%;
}

.modal-prev {
    left: 0.2%;
}

.pagination {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: calc(0.15vw + 0.1rem);
    padding-inline: 1%;
    width: 100%;
}

.icon-circle {
    color: rgb(161, 161, 170);
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: calc(0.86vw);
}

.icon-circle:hover {
    color: var(--icon-hover);
}

.icon-circle.active {
    color: var(--blue);
}

.light .icon-circle.active {
    color: var(--orange);
}

.image-wrapper {
    position: relative;
    border-radius: 12px;
    transition: 0.3s;
}

.image-wrapper.loading img {
    opacity: 0.5;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--blue);
    border-radius: 50%;
    width: 39.2px;
    height: 39.2px;
    animation: spin 1s linear infinite;
}

.light .spinner {
    border-top: 4px solid var(--orange);
}

.preview-image {
    position: absolute;
    width: 15vw;
    z-index: 10;
    pointer-events: none;
    border-radius: 12px;
    aspect-ratio: 16/9;
    box-shadow: rgb(161, 161, 170) 0px 30px 30px -50px, rgb(64, 64, 71) 0px 30px 60px -30px;
    /*border: 2px solid var(--border);
    */
    overflow: hidden;
}

.preview-image img {
    width: 100%;
    border-radius: 12px;
}

.swipe-hint {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1002;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    transform: translateY(-50%);
}

.swipe-arrow {
    font-size: 2rem;
    color: var(--blue);
}

.light .swipe-arrow {
    color: var(--orange);
}

@media (max-width: 600px) {

    .modal-prev,
    .modal-next,
    .pagination {
        display: none;
    }
}

@media (min-width: 600px) {
    .swipe-arrow {
        display: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}