/*
=================
table of contents
=================
1-Left-section
2-Right-section ==> Animation
3-Responsive Design
4-Animation
*/
section.hero {
  padding-top: 3rem;
  min-height: 86.5dvh;
}

/*
=============
1-Left-section
=============
*/
section.hero .left-section {
  min-width: 50%;
}

section.hero .parent-avatar.flex {
  position: relative;
  z-index: 1;
  align-items: end;
  min-height: 150px;
}

section.hero .avatar {
  width: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  /* border: 3px solid var(--primary); */
  /* border: 2px solid rgba(233, 46, 139, 0.4);
  filter: drop-shadow(0 0 1rem rgba(233, 46, 139, 0.3)) drop-shadow(0 1rem 1rem rgba(244, 165, 96, 0.3));
  box-shadow: 1rem 1rem 2rem rgba(244, 165, 96, 0.5) inset, -1rem -1rem 2rem rgba(233, 46, 139, 0.5) inset;
  animation: anim 10s infinite; */
}

section.hero .icon-verified {
  color: var(--blue);
  margin-bottom: 0.3rem;
  margin-left: -1rem;
  position: relative;
  font-size: 1.1rem;
  z-index: 1;
}

/* The inner div (background effect) */
/* section.hero .icon-verified div {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  top: 0.3rem;
  left: 0.25rem;
  z-index: -1;
} */

.header-section.flex {
  align-items: baseline;
  gap: 1.5rem;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
}

section.hero p.sub-title {
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
  color: var(--subtitle);
}

section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  /* font-size: 1.4rem; */
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

section.hero .cv-section {
  gap: 1rem;
}

section.hero .cv-section a.download-cv,
section.hero .cv-section button.view-cv,
section.hero button.copy-email {
  background-color: #24252e;
  border: 1px solid rgb(63, 63, 70);
  padding: 0.75rem 0;
  width: 9.44rem;
  font-size: 0.95rem;
  border-radius: 2.5px;
  transition: 0.3s;
  justify-content: center;
}

section.hero .cv-section a.download-cv:hover,
section.hero .cv-section button.view-cv:hover,
section.hero button.copy-email:hover {
  scale: 0.97;
}

section.hero .cv-section a.download-cv .icon-download,
section.hero .cv-section button.view-cv .icon-eye,
section.hero button.copy-email .icon-copy {
  color: var(--blue);
}

.light section.hero .cv-section a.download-cv .icon-download,
.light section.hero .cv-section button.view-cv .icon-eye,
.light section.hero button.copy-email .icon-copy {
  color: var(--orange);
}

.hidden {
  display: none;
}

.social-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

/*
=============================
2-Right-section ==> Animation
=============================
*/
section.hero .animation {
  min-width: 27vw;
  width: 100%;
  translate: 75px 75px;
  /* rotate: 180deg; */
  /* transform: scaleX(-1); */
}

/*
=================================
3-Responsive Design (media query)
=================================
*/
@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }
}

@media (max-width: 500px) {
  section.hero h1.title {
    font-size: 2.25rem;
  }
}

@media (max-width: 400px) {
  section.hero h1.title {
    font-size: 2rem;
  }
}

/*
=================================
4-Animation (keyframes query)
=================================
*/
@keyframes anim {

  0%,
  100% {
    border-radius: 40% 60% 60% 40% / 40% 52% 48% 60%;
    box-shadow: -1rem -1rem 2rem rgba(244, 165, 96, 0.5) inset, 1rem 1rem 2rem rgba(233, 46, 139, 0.5) inset;
  }

  25% {
    border-radius: 45% 45% 30% 70% / 30% 70% 30% 45%;
    box-shadow: 1rem 1rem 2rem rgba(244, 165, 96, 0.5) inset, -1rem -1rem 2rem rgba(233, 46, 139, 0.5) inset;
  }

  50% {
    border-radius: 50%;
    box-shadow: 1rem 1rem 2rem rgba(244, 165, 96, 0.5) inset, -1rem -1rem 2rem rgba(233, 46, 139, 0.5) inset;
  }

  75% {
    border-radius: 45% 45% 53% 47% / 26% 22% 78% 74%;
    box-shadow: 1rem 1rem 2rem rgba(244, 165, 96, 0.5) inset, -1rem -1rem 2rem rgba(233, 46, 139, 0.5) inset;
  }
}