@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24, 24, 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244, 244, 255);
  --subtitle: rgb(161, 161, 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --blue-border: rgb(93, 188, 252, 0.6);
  --orange: rgb(244, 165, 96);
  --orange-border: rgb(244, 165, 96, 0.6);

  --icon-hover: #d4d4d8;
  --image-hover: rgba(63, 63, 70, 0.2);

  --over-lay: rgba(0, 0, 0, 0.5);

  --rise-shadow: rgba(255, 255, 255, 0.025);

  --container-padding: 4.8rem;
  --max-width: 1280px;

  --scrollBar: rgb(24, 103, 182);
}

.light {
  --primary: rgb(225, 225, 222);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39, 39, 42);
  --subtitle: rgb(82, 82, 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
  --image-hover: rgba(202, 202, 202, 0.3);

  --over-lay: rgba(0, 0, 0, 0.7);

  --rise-shadow: rgba(0, 0, 0, 0.08);

  --scrollBar: rgb(245, 177, 119);
}

body {
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-inline: auto;
  background-color: var(--secondary);
  /* Use a transparent background */
  padding: 0 var(--container-padding);
}

.container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg.svg");
  opacity: 0.02;
  pointer-events: none;
  z-index: 999;
}

.divider {
  border-bottom: 2px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

.relative {
  position: relative;
}

li {
  list-style: none;
}

a {
  all: unset;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 2px solid var(--border);
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.95;
}

button:disabled {
  opacity: 0.4rem;
  cursor: not-allowed;
}

/*
===================
Scrollbar
===================
*/

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 0.6rem;
  padding: 0.2rem;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: var(--secondary);
  border-left: 2px solid var(--border);
}

/* Default Scrollbar Thumb (Dark Mode) */
::-webkit-scrollbar-thumb {
  /*background: linear-gradient(120deg, var(--secondary),var(--scrollBar), var(--secondary));
  */
  background-color: var(--subtitle);
  border-radius: 2px;
  /*border-left: 2px solid var(--border);
  */
}

/*
===================
Scroll To Up Button
===================
*/
.scroll-to-up {
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 2px solid var(--border);
  color: var(--title);
  font-size: 1.25rem;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-up:hover {
  background-color: rgba(25, 118, 210, 0.85);
}

.light .scroll-to-up:hover {
  background-color: rgba(244, 165, 96, 0.85);
}

@keyframes animate {
  0% {
    background-position: 0
  }

  100% {
    background-position: 200%
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}

/*
===================
Skeleton Effect
===================
*/
.skeleton {
  background-color: var(--border);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--image-hover), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

/*
===============================
Responsive Design (media query)
===============================
*/
@media (max-width: 1000px) {
  .container {
    --container-padding: 1.7rem;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
  }

  .scroll-to-up {
    opacity: 0.6;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1rem;
  }
}