main.flex {
  flex-direction: column;
  gap: 3rem;
  min-height: 86.5dvh;
}

main.flex section.flex {
  gap: 2.64rem;
  align-items: start;
  width: 100%;
  flex-grow: 1;
}

div.right-section {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

div.left-section,
.category-buttons {
  flex-direction: column;
  gap: 10px;
}

main.flex div.left-section button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid var(--border);
  text-transform: capitalize;
}

main.flex div.left-section button:hover {
  opacity: 1;
}

main.flex div.left-section button.active {
  opacity: 1;
  border: 1px solid var(--blue);
}

.light main.flex div.left-section button.active {
  border: 1px solid #000;
}

main.flex .technologies-toggle {
  position: absolute;
  justify-content: center;
  background-color: rgb(36, 37, 46);
  border: 1px solid rgb(63, 63, 70);
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  margin-top: 6.2rem;
  transition: 0.3s;
  color: white;
  padding: 0.75rem 0;
}

main.flex .technologies-toggle:hover {
  border-color: rgba(93, 188, 252, 0.5);
  scale: 0.97;
}

.light main.flex .technologies-toggle:hover {
  border-color: var(--border);
}

@media (max-width: 600px) {
  main.flex section.flex {
    flex-direction: column;
    gap: 2.64rem;
    align-items: center;
  }

  div.left-section,
  .category-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  main.flex div.left-section button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }

  main.flex .technologies-toggle {
    width: 2.2rem;

  }
}

@media (min-width: 600px) {
  main.flex .technologies-toggle {
    width: 50px;
  }
}


.graph_wrapper {
  position: absolute;
  z-index: 0;
  right: 16.75%;
  opacity: 0.35;
}

.graph_wrapper svg {
  margin-top: 5.25%;
  width: calc(12vw + 50px);
  rotate: -3.75deg;
}

@media (max-width: 1300px) {
  .graph_wrapper {
    right: 17.75%;
  }

  .graph_wrapper svg {
    margin-top: 3%;
    rotate: 1deg;
  }
}

@media (max-width: 1200px) {
  .graph_wrapper {
    right: 18.75%;
  }

  .graph_wrapper svg {
    rotate: 4deg;
  }
}

@media (max-width: 1000px) {
  .graph_wrapper {
    right: 18%;
  }

  .graph_wrapper svg {
    rotate: 6.25deg;
    margin-top: 5.25%;
  }
}

@media (max-width: 800px) {
  .graph_wrapper {
    right: 19.25%;
  }

  .graph_wrapper svg {
    margin-top: 6.25%;
    rotate: 9.25deg;
  }
}

@media (max-width: 600px) {
  .graph_wrapper {
    right: 18.5%;
  }

  .graph_wrapper svg {
    margin-top: 17.25%;
    rotate: 11.25deg;
  }
}

@media (max-width: 450px) {
  .graph_wrapper {
    right: 20.5%;
  }

  .graph_wrapper svg {
    margin-top: 21%;
    rotate: 15.25deg;
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dashed {
  stroke-dasharray: 5, 12;
}

#arrow {
  animation: arrow 2s linear forwards;
  opacity: 0;
}

@keyframes arrow {
  to {
    opacity: 1;
  }
}