section#projects div.right-section {
  row-gap: 2rem;
}

/*
=========================
1-Right-section ==> Cards
=========================
*/
.card-container {
  position: relative;
  transition: 0.3s;
  border-radius: 8px;
}

.card-container:hover {
  z-index: 1;
  transform: translateY(-10px);
}

/* .card-container .card {
  box-shadow: var(--shadow1);
} */

.card-container:hover .card {
  box-shadow: 0 10px 20px var(--rise-shadow);
}

.motion-article-blur {
  /* filter: blur(5px); */
  /* opacity: 0.1; */
  transition: 0.3s ease-in-out;
  z-index: 0;
}

.card-description-container {
  position: absolute;
  z-index: 20;
  display: none;
}

.card-description-container.right {
  transform: translateY(50%);
  right: calc(-100% - 9px);
}

.card-description-container.left {
  transform: translateY(50%);
  left: calc(-100% - 9px);
}

.card-description {
  width: 266px;
  min-height: 80px;
  background: var(--secondary);
  color: var(--subtitle);
  position: relative;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  transition: 0.3s;
  box-shadow: var(--card-box-shadow) 0px 1px 2px 0px inset;
  border: 1px solid var(--border);
}

.left .card-description {
  margin-right: 10px;
  margin-left: auto;
}

.card-description:before,
.card-description:after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: 0.3s;
}

.card-description:before {
  border-right: 10px solid var(--blue);
  right: 100%;
}

.card-description:after {
  border-left: 10px solid var(--blue);
  left: 100%;
}

.left .card-description:before,
.right .card-description:after {
  display: none;
}

.light .card-description:before {
  border-right: 10px solid var(--orange);
}

.light .left .card-description::after {
  border-left: 10px solid var(--orange);
}

.card-description .book-mark {
  position: absolute;
  top: 1.1rem;
  left: 0.5rem;
}

.card-description .triangle-topleft {
  width: 0;
  height: 0;
  border-top: 17.5px solid var(--blue);
  border-right: 10px solid transparent;
  rotate: 270deg;
  margin-bottom: -1.125rem;
  margin-left: -0.3rem;
}

.card-description .triangle-topright {
  width: 0;
  height: 0;
  border-top: 17.5px solid var(--blue);
  border-left: 10px solid transparent;
  rotate: 270deg;
  margin-bottom: -0.15rem;
  margin-left: -0.3rem;
}

.light .card-description .triangle-topright,
.light .card-description .triangle-topleft {
  border-top: 17.5px solid var(--orange);
}

.projects.right-section .card {
  border: 2px solid var(--border);
  border-radius: 8px;
  transition: 0.3s;
}

.projects.right-section .card .image-parent {
  gap: 1rem;
  border-bottom: 1px solid var(--border);
  min-height: 177.33px;
  min-width: 266px;
  overflow: hidden;
  border-radius: 8px;
}

.projects.right-section .card .image {
  min-height: 177.33px;
  min-width: 266px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 149px;
  /* height: 177.33px; */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--image-hover);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .overlay:hover {
  opacity: 1;
} */

.card .box {
  padding: 1rem 0.4rem;
  /* background: linear-gradient(to right bottom, var(--border) 5%, var(--secondary) 50%); */
  /* border-radius: 0 0 8px 8px; */
}

.card .box .title {
  color: var(--title);
  text-transform: capitalize;
}

.card .box .sub-title {
  color: var(--subtitle);
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card .box .icons {
  justify-content: space-between;
}

.card .box .icons div {
  gap: 11px;
}

.card .icon-link,
.card .icon-github,
.card .icon-airplay,
.card .icon-photo {
  color: var(--subtitle);
  font-size: 1.2rem;
  transition: 0.3s;
}

.card .icon-link:hover,
.card .icon-github:hover,
.card .icon-airplay:hover,
.card .icon-photo:hover {
  color: var(--icon-hover);
  cursor: pointer;
}

.card .icon-airplay:disabled {
  position: relative;
  text-decoration: none;
  cursor: context-menu;
}

.card .icon-airplay:disabled:hover,
.light .card .icon-airplay:disabled:hover {
  color: var(--subtitle);
}

.card .icon-airplay:disabled::after {
  width: 150%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.card button.link {
  margin-right: 10px;
  transition: 0.3s;
}

/* .card button.link:hover,
.icon-picture {
  color: var(--blue);
}

.light .card button.link:hover,
.light .icon-picture {
  color: var(--orange);
} */

.flex.right-section {
  display: flex;
  flex-wrap: wrap;
}

.card-description .title {
  color: var(--title);
  margin-bottom: 0.5rem;
  margin-left: 10px;
  font-size: 1.25rem;
}

.card-description .sub-title {
  font-size: 0.8rem;
  margin-left: 10px;
}

/* .marker {
  position: absolute;
  bottom: -1px;
  left: 4%;
  width: 92%;
  border-bottom: 1px solid var(--blue);
  border-radius: 1px;
} */

/* .card-container:hover .card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 270px /2);
  width: 270px;
  height: calc(152.88px / 3);
  background-color: rgba(25, 118, 210, 0.4);
  filter: drop-shadow(0 5px 25px rgba(25, 118, 210, 0.4)) blur(30px);
  transition: 0.3s;
  pointer-events: none;
} */

/* .light .marker {
  border: 1px solid var(--orange);
}

.light .marker::after {
  background-color: rgba(244, 165, 96, 0.1);
  filter: drop-shadow(0 5px 25px rgba(244, 165, 96, 0.4)) blur(30px);
} */

.not-found-dark,
.light .not-found-light {
  display: block;
}

.light .not-found-dark,
.not-found-light {
  display: none;
}

/*
=================================
2-Responsive Design (media query)
=================================
*/
@media (max-width: 600px) {

  .card-description-container,
  .card-description {
    display: none;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  /* optional for safety */
}


.loading .blur-overlay {
  height: calc(100%-45px);
  top: 45px;
}