.sidebar {
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: var(--border);
    transform: translateX(-50%);
}

.circles-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary);
    border: 2px solid var(--border);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--title);
    text-decoration: none;
    position: relative;
}

.sidebar-circle:first-of-type {
    margin-top: 0;
}

.sidebar-circle.active {
    background-color: rgb(24, 103, 182);
}

.sidebar-circle::before {
    transition: 0.5s;
}

.sidebar-circle:hover:not(.active)::before {
    color: var(--blue);
    /* transform: rotateY(180deg); */
}

.light .sidebar-circle.active {
    background-color: rgb(245, 177, 119);
}

.light .sidebar-circle:hover:not(.active)::before {
    color: var(--orange);
}

/* @media (max-width: 600px) {
    .sidebar {
        opacity: 0.6;
    }

    .sidebar-circle {
        width: 2.2rem;
        height: 2.2rem;
    }
} */

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}