section#certificates div.right-section {
  gap: 1rem;
}

/*
================================
1-Right-section ==> certificates
================================
*/
section#certificates div.right-section a:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px var(--rise-shadow);
  transition: 0.3s;
}

section#certificates div.right-section article.certificate {
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
  max-width: 333px;
  align-items: center;
  gap: 0.45rem;
}

section#certificates div.right-section .certificate .image-parent {
  gap: 1rem;
  border: 1px solid var(--border);
  border-radius: 50%;
  min-height: 44px;
  min-width: 44px;
  overflow: hidden;
  border-radius: 50%;
}

section#certificates div.right-section .certificate img {
  max-height: 44px;
  max-width: 44px;
}

section#certificates div.right-section .certificate h1 {
  color: var(--title);
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

section#certificates div.right-section .certificate .name {
  color: var(--subtitle);
  font-size: 0.8rem;
  justify-content: space-between;
}